   <div class="inner-page-header">
            <img src="assets/images/bg/aboutbg.jpg" alt="Inner Page Header" class="full-width">
            <div class="title-breadcrumb">
                <div class="container">
                    <div class="page-sub-title">
                      <!--   <h4>About TravelCo</h4> -->
                    </div>
                    <div class="site-page-header clear-fix">
                        <div class="site-title">
                            <h2>About Us</h2>
                        </div>
                    </div>
                    <div class="site-page-breadcrumb">
                        <span style="font-family:moderna;">
                            <a  href="#"  style="font-family:moderna;">Home </a> 
                            <i class="fa fa-angle-double-right" ></i> About Us
                        </span>
                    </div>
                </div>
            </div>
        </div>
          <div class="guest-rate-wrapper">
        <div class="guest-rate">
            <div class="container">
                <div class="row">
             
                </div>

            </div>
        </div>
    </div>
   
   <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 about_para">
                    <div class="section-title ">
                        <h2>The Tixs Network</h2>
                        <div class="title-separator-outer ">
                            <div class="title-separator bg-primary style-liner"></div>
                        </div>
                    </div>
                 

                    <p>We are a group of young people who aim to provide a virtual platform to facilitate commercial activity between suppliers and sales representatives in the tourism industry.</p>
                    <p>Our goal is to achieve a healthier tourism environment in which we can present a wider and more unique range of options for all customers. Provide a reliable and up-to-date information channel to our community experts and promote local activities, regardless of their size, location and resources.</p>
                    <ul class="aboutfeature">
                        <li><i class="fa fa-mail-forward"></i>Animal interaction</li>
                        <li><i class="fa fa-mail-forward"></i>Attractions</li>
                        <li><i class="fa fa-mail-forward"></i>Car Rent</li>
                        <li><i class="fa fa-mail-forward"></i>Culinary tours</li>
                        <li><i class="fa fa-mail-forward"></i>Mouseus</li>
                        <li><i class="fa fa-mail-forward"></i>Tours</li>
                      
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img alt="image" src="assets/images/about.jpg">
                </div>
            </div>
        </div>