  <footer id="colophon" class="site-footer">
  
        <div class="fluid-container">
            <div class="message-box">
                <div class="container">
                    <div class="row">
                        <p>And if you work with us? take a look at Thetixsapp ...<b>  < -- o alguna frase que llame a visitar la pagina de thetixsapp </b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget">
                            <img src="assets/images/flogo.png" alt="">
                            <div class="contactinfo">
                                <span class="fa fa-headphones"></span>
                                <p>
                                    Got Questions ? Call us 24/7!
                                    <span>+1883.thetixs </span>
                                </p>
                            </div>
                            <div class="address">
                                <span class="fa fa-home"></span>
                                <p>
                                   Miami, Florida - USA
                                </p>
                            </div>
                            <div class="timing">
                                <span class="fa fa-clock-o"></span>
                                <p>
                                    Mon-Fri, 8:00am until 6:00pm
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget">
                            <h4>Find It Fast</h4>
                            <ul class="footer-links">
                                <li><a href="#">Animal interaction</a></li>
                                <li><a href="#">Attractions</a></li>
                                <li><a href="#">Car Rent</a></li>
                                <li><a href="#">Culinary tours</a></li>
                                <li><a href="#">Mouseus</a></li>
                                <li><a href="#">Tours</a></li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget">
                            <h4>Singup For Newsletter</h4> Register your email for news and get special offer
                            <!-- newsletter form -->
                            <form class="formnewsletter2">
                                <input name="email" class="form-control" placeholder="E-mail Address" type="email">
                                <button type="submit" class="hvr-shutter-out-horizontal">SEND</button>
                            </form>
                            <!-- /.newsletter form -->
                        </div>
                        <div class="widget">
                            <h4>follow us</h4>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fluid-container">
            <div class="footer-bottom">
                <div class="container" >
                     <h6 style="font-size:20px;">Copyright <span style="font-family:Rubik;"> &copy;</span> Thetixs <span style="font-family:Rubik;"> {{anio}}</span> . all rights Reserved</h6>
                </div>
            </div>
        </div>
    </footer>