            <div class="guest-rate-wrapper">
        <div class="guest-rate">
            <div class="container">
                <div class="row">
             
                </div>

            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title ">
                        <h2>Tixs Inspirations</h2>
                        <div class="title-separator-outer ">
                            <div class="title-separator bg-primary style-liner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tour-list owl-carousel">
                <!-- START SINGLE TOUR PLACE DESIGN AREA -->
                <div class="single-place item">
                    <img alt="image" src="assets/images/loc-inspiration.jpg">
                    <div class="tour-des-hover">
                        <h2>Enchanted Caribbean <br> Journey</h2>
                        <div class="place-meta"> <span><i class="fa fa-calendar">  </i> Nov 9 , 2017</span> <span><i class="fa fa-comment">  </i> 2 Comments</span> <span> <i class="fa fa-eye">  </i> 34 Views</span> </div>
                    </div>
                </div>
                <!-- / END SINGLE TOUR PLACE DESIGN AREA -->
                <!-- START SINGLE TOUR PLACE DESIGN AREA -->
                <div class="single-place item">
                    <img alt="image" src="assets/images/loc-inspiration2.jpg">
                    <div class="tour-des-hover">
                        <h2>Enchanted Caribbean <br> Journey</h2>
                        <div class="place-meta"> <span><i class="fa fa-calendar">  </i> Nov 9 , 2017</span> <span><i class="fa fa-comment">  </i> 2 Comments</span> <span> <i class="fa fa-eye">  </i> 34 Views</span> </div>
                    </div>
                </div>
                <!-- / END SINGLE TOUR PLACE DESIGN AREA -->
                <!-- START SINGLE TOUR PLACE DESIGN AREA -->
                <div class="single-place item">
                    <img alt="image" src="assets/images/loc-inspiration3.jpg">
                    <div class="tour-des-hover">
                        <h2>Enchanted Caribbean <br> Journey</h2>
                        <div class="place-meta"> <span><i class="fa fa-calendar">  </i> Nov 9 , 2017</span> <span><i class="fa fa-comment">  </i> 2 Comments</span> <span> <i class="fa fa-eye">  </i> 34 Views</span> </div>
                    </div>
                </div>
                <!-- / END SINGLE TOUR PLACE DESIGN AREA -->
            </div>
        </div>