  <header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
           
                <div class="row">
                 
                    <div class="col-md-3 home1 revslider">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a routerLink="">
                                <img alt="image" src="assets/images/white-logo.png" >
                            </a>
                        </div>
                       
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    
                    <div class="col-md-9">
                        <!-- Top Bar -->
                        <div class="header_top">
                            <div class="col-md-12">
                               <!-- <div class="pull-left">
                                    <span><i class="flaticon-phone-receiver"></i></span>
                                    <span><i class="flaticon-send"></i></span>
                                </div> -->
                                <div class="pull-right">
                                    <a href="#">Login /</a><a href="https://www.thetixsapp.com" target="_blank">Register</a>
                                </div> 
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse no-padding">
                                    <ul class="nav navbar-nav navbar-left">
                               
                                          <li  class="dropdown "><a   style="font-family:moderna;" routerLink="about">About</a></li>
                                      <!--   <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"  style="font-family:moderna;">Join<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a routerLink="collage">Customer</a></li>
                                                <li><a routerLink="">Affiliate</a></li>
                                                <li><a href="#">Partner</a></li>
                                               
                                            </ul>
                                        </li> -->
                                          <li  class="dropdown "><a  style="font-family:moderna;" routerLink="contact" >Contact</a></li>
                                   
                                        
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right popup">
                                        <li style="padding-top:30px;">
                                            <a href="#myCar" class="popup-with-zoom-anim" id="opencar">
                                        
                                              <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
                                             <!--    <i class="fa fa-search">
                                                </i> -->
                                            </a>
                                        </li>

                                        <span id="myOverlay" class="overlay overlay_home1">
                                        
                                          <span class="closebtn" id="btnclose" title="Close Overlay">x</span>
                                        <span class="overlay-content">
                                        <div >
                                            <a >
                                                <img style="top:12px;left:-35px;" alt="image" src="assets/images/flogo.png" >
                                            </a>

                                        </div>
                                             <div > 



<mat-list role="list" style="text-align:left;">
  <mat-list-item role="listitem"  *ngFor="let product of _car.car; let i = index ">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line> {{product.productName}}</h4>
    <p mat-line>  <span>
       <mat-divider></mat-divider>
      <mat-list role="list">
      <mat-list-item role="listitem"  *ngFor="let item of product.itemsPrices; let j = index">{{item.label}} Quantity: {{_car.car[i].quan[j]}}
      </mat-list-item>
      </mat-list>
  </span>
  </p>
  </mat-list-item> 
 </mat-list>
 
                                                 






                                        <!--     <mat-vertical-stepper [linear]="isLinear" #stepper>
                                                <mat-step [stepControl]="firstFormGroup">
                                                <form [formGroup]="firstFormGroup">
                                                  <ng-template matStepLabel>Your tixs</ng-template>
                                                  <mat-form-field>
                                                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                                                  </mat-form-field>
                                                  <div>
                                                    <button mat-button matStepperNext>Next</button>
                                                  </div>
                                                </form>
                                              </mat-step>
                                              <mat-step [stepControl]="secondFormGroup">
                                                <form [formGroup]="secondFormGroup">
                                                  <ng-template matStepLabel>Fill out your address</ng-template>
                                                  <mat-form-field>
                                                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                                                  </mat-form-field>
                                                  <div>
                                                    <button mat-button matStepperPrevious>Back</button>
                                                    <button mat-button matStepperNext>Next</button>
                                                  </div>
                                                </form>
                                              </mat-step>
                                              <mat-step>
                                                <ng-template matStepLabel>Done</ng-template>
                                                You are now done.
                                                <div>
                                                  <button mat-button matStepperPrevious>Back</button>
                                                  <button mat-button (click)="stepper.reset()">Reset</button>
                                                </div>
                                              </mat-step>
                                            </mat-vertical-stepper> -->
                                            </div>
                                              <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                                           
                                          </span>
                                        </span>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
    </header>
   