  <header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
           
                <div class="row">
                 
                    <div class="col-md-3 home1 revslider">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a routerLink="">
                                <img alt="image" src="assets/images/white-logo.png" >
                            </a>
                        </div>
                       
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    
                    <div class="col-md-9">
                        <!-- Top Bar -->
                        <div class="header_top">
                            <div class="col-md-12">
                               <div class="pull-left">
                                    <!-- <span><i class="flaticon-phone-receiver"></i>(1)111-123-458  Callus</span> -->
                                    <!-- <span><i class="flaticon-send"></i>mail@example.com</span> -->
                                </div>
                                <div class="pull-right">
                                    <a href="#">Login /</a><a href="#">Register</a>
                                </div> 
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse no-padding">
                                    <ul class="nav navbar-nav navbar-left">
                               
                                          <li  class="dropdown "><a   style="font-size:29px;font-family:moderna;" routerLink="about">About</a></li>
                                        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"  style="font-size:29px;font-family:moderna;">Join<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a routerLink="collage">Customer</a></li>
                                                <li><a routerLink="">Affiliate</a></li>
                                                <li><a href="#">Partner</a></li>
                                               
                                            </ul>
                                        </li>
                                          <li  class="dropdown "><a  style="font-size:29px;font-family:moderna;" routerLink="contact" >Contact</a></li>
                                   
                                        
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right popup">
                                        <li style="padding-top:30px;">
                                            <a href="#test-search" class="popup-with-zoom-anim" id="opensearch">
                                                <i class="fa fa-search">
                                                </i>
                                            </a>
                                        </li>
                                        <span id="myOverlay" class="overlay overlay_home1">
                                          <span class="closebtn" id="btnclose" title="Close Overlay">x</span>
                                        <span class="overlay-content">
                                            <form action="action_page.php">
                                              <input type="text" placeholder="Search.." name="search">
                                              <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                          </span>
                                        </span>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
    </header>
   